  /* Signup.css */

  .container {
    max-width: 400px; /* Set max width for the container */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content inside */
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    width: 100%; /* Ensure form takes up full width of container */
  }

  .form-group {
    width: 100%; /* Ensure form groups take up full width */
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: center; /* Center align label and input */
    margin-bottom: 15px;
  }

  .form-group label {
    width: 100%; /* Adjust width to match input fields */
    margin-bottom: 5px; /* Add space between label and input */
    font-weight: bold;
    text-align: center; /* Center text in label */
  }

  .form-group input[type='text'],
  .form-group input[type='email'],
  .form-group input[type='date'],
  .form-group input[type='number'],
  .form-group input[type='password'] {
    width: 100%; /* Full width within form-group */
    max-width: 300px; /* Limit max width to prevent excessive stretching */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .gender-group {
    width: 100%; /* Ensure gender-group takes full width */
    display: flex;
    flex-direction: row; /* Arrange label and options horizontally */
    align-items: center; /* Center align label and options */
    justify-content: center; /* Center everything within the container */
    margin-bottom: 15px;
  }

  .gender-group label {
    margin-right: 10px; /* Add space between the label and the options */
    font-weight: bold;
    text-align: center;
  }

  .gender-options {
    display: flex;
    justify-content: center; /* Center align gender options */
    flex-wrap: nowrap; /* Prevent wrapping */
  }

  .gender-options div {
    display: flex;
    align-items: center;
    margin: 0 10px; /* Add space between options */
  }

  button {

    width: 100%;
    max-width: 200px; /* Limit max width */
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    margin: 20px 0 10px 0; /* Add space above and below the text */
  }

  a {
    color: #2bc55e;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }
